#div1{
    padding: 0 10%;
    border: 2px, 2px, 2px, 2px;
    height: auto;
    width: auto;
}
#div1 input {
    background-color: rgb(246, 159, 220);
    }
   
    #adden:hover{
        background: rgb(217, 174, 212);
       }
#div2{
    padding: 0 10%;
    border: 2px, 2px, 2px, 2px;
    height: auto;
    width: auto;
}
#div2 input {
    background-color: rgb(249, 132, 196);
    }
    #sub:hover{
        background: rgb(194, 89, 183);
       }
     
   
#div3{
    padding: 0 10%;
    border: 2px, 2px, 2px, 2px;
    height: auto;
    width: auto;
}
 
#div3 input {
    background-color: rgb(248, 116, 215);
    }
    #multi:hover{
        background: rgb(240, 153, 231);
       }
       #multi:hover{
        background: rgb(240, 153, 231);
       }
     
   h1 {
text-align: center;
padding: 0 10%;
    border: 2px, 2px, 2px, 2px;
    height: auto;
    width: auto;
    color: rgb(13, 13, 182);
   }


   body{
    background-color: rgb(213, 199, 232);
   }


  